/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 100%; /* 16px (12pt) default font size | 1em is 100% default font size */
    color: #000000;
}

h1{
    padding-bottom: 10px;
    font-size: 4em; /* 36px / 16px = 2.25em or 225% */
    font-weight: black;
    color: #000000;
}

.profile{
    display: flex;
}

.profiletext{
    margin: 10%;
    justify-content: space-between;
}

hr{
    border: none;
    height: 1px;
    background-color: #cccccc;
    margin: 60px 0;
}

.inner-header h1{
    padding-bottom: 10px;
    font-size: 4em; /* 36px / 16px = 2.25em or 225% */
    font-weight: black;
    color: #000000;
    margin-left: 30px;
}

h2{
    padding-bottom: 10px;
    font-size: 2.25em; /* 32px */
    font-weight: bold;
    color: #000000;
    line-height: 1.15;
}

h3{
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: normal;
}

h4{
    padding-bottom: 10px;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.2;
}

h5{
    padding-bottom: 10px;
    font-size: 2.25em;
    font-weight: bold;
}

p{
    line-height: 1.3;
    padding-bottom: 8px;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    background-color: #ffffff;
    max-width: 1280px;

    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001214;
    padding: 10px 20px;
    height: 140px;
}

.logo {
    height: 120px;
    width: auto;
}

.navigation-links ul {
    list-style: none;
    display: flex;
}

.navigation-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.8em;
}

nav a:link, nav a:visited{
    background-color: #001214;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 20px 0;
    margin: 40;
    margin-bottom: 0;
}

nav li{
    flex: 1;
}

nav a:hover, #nav:active{
    color: #9CFFB4;
}

.content-wrap{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 30px;
}

main{
    background-color: #ffffff;
    flex: 2; /* 800px - target / context = result */
    padding: 5px 10px;
    margin: 30px;
}

main h1{
    color: #000000;
}

.reflection{
    margin-left: 12%;
    margin-right: 25%;
    padding-bottom: 5%;
}

aside{
    background-color: #ffffff;
    flex: 1; /* 400px - target / context (1200) = result */
    padding: 5px 10px;
}

footer{
    background-color: #000000;
    flex: 1 0 100%;
    padding: 10px;
    color: #ffffff;
}

/* media queries for tablet screens 800px or smaller */
@media screen and (max-width: 800px){

    body{
        background-color: #000000;
    }

    header{
        
        height: 100px;
        background-image: url(../images/Hero_section.png);
    }

    nav a:link, nav a:visited{
    
        padding: 10px 20px;
        margin-right: 20px;
    
}

main{
    flex: 1 1 60%; 
}

sidebar1{
    flex: 1 1 40%; 

}

} 

/* media queries for mobile screens 600px or smaller */
@media screen and (max-width: 600px){

    body{
        background-color: yellow;
    }

    header{
        
        height: 50px;
        background-image: url(../images/Hero_section.png);
        
    }

    container{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    nav a:link, #nav a:visited{

    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    }

main, #sidebar1{
    padding: 20px;
}


footer{
    text-align: center;

}
}